html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0 0 200px;
}
main {
	height: 100%;
}
.glyphicon-menu-hamburger { 
	color: #FFF; 
}
.page-header-custom {
	padding-bottom: 0 !important;
	margin: 30px 0 20px !important;
	border-bottom: 1px solid #777;
}
.page-header h3{
	color: blue;
}
#myFooter { 
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 10px 0 40px; 
	background-color: #8a6d3b; 
}
.list-contact-us, 
.list-follow-us,
.list-payment,
.list-kualitas-sablon { 
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.list-contact-us li p, 
.list-follow-us li p,
.list-payment li p {
	margin-bottom: 0;
	font-size: 15px;
	font-weight: bold;
}
.list-payment li p {
	font-size: 13px !important;
}
.list-follow-us li p a {
	text-decoration: none;
	color: #333;
}
.list-follow-us li p a:hover {
	text-decoration: none;
	color: #FFF;
}
.bbm-icon {
	display: inline-block;
	width: 16px;
	height: 14px;
	background: url('../img/bbm_icon.png');
}
#btn-back-top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
}

@media (max-width: 767px) { 
    body {
    	margin: 0 0 404px;
    }
}

@media (min-width: 768px) and (max-width: 991px) { 
    body {
    	margin: 0 0 285px;
    }
}