{% extends 'index.html' %}

{% block title %} Tentang Kaos {% endblock %}

{% block main_content %}
<main>
	<div class="container" style="margin-top:70px;">
		<div class="row">
			<div class="col-xs-12">
				<h2>Kualitas Kaos</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<p>Kaos dibuat dari bahan katun combed 20s dan 30s. Dijamin 100% berkualitas, bukan kaos murahan. Bahan kaos kami menyerap keringat, sehingga nyaman untuk dipakai baik didalam maupun diluar ruangan. Cocok buat jalan-jalan maupun buat dipakai sehari-hari. Dijahit dengan jahitan kualitas ekspor, model jahitan rantai dengan rapi dan teliti serta tersedia dalam banyak pilihan ukuran dari dewasa sampai anak-anak.</p>
			</div>
		</div>

		<div class="row" style="margin-top: 20px;">
			<div class="col-xs-12">
				<h2>Kualitas Sablon</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<ul class="list-kualitas-sablon">
					<li><p>1. Menggunakan teknik sablon DTG (direct to garment),  dan sablon kaos manual</p></li>
					<li><p>2. Untuk DTG menggunakan tinta dengan kualitas terbaik: Dupont USA. Untuk sablon manual menggunakan pasta rubber.</p></li>
					<li><p>3. Hasil sablonan menyerap di kaos dengan sempurna.</p></li>
					<li><p>4. Besar sablonan bisa sampai ukuran 30 x 42 cm.</p></li>
					<li><p>5. Hasil sablonan sudah dilakukan tes cuci dan terbukti tidak pudar setelah dicuci berulang kali.</p></li>
				</ul>
			</div>
		</div>
	</div>
</main>
{% endblock %}