{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="kaos, kaos nyaman, kaos katun, kaos terbaik, kaos berkualitas, kaos murah, 100% katun, katun combed 20s, cotton, cotton combed 20s">
	<title>{% block title %} NyamanChop - Homepage {% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?v={{ cssversion }}">
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top">
		    <div class="container-fluid">
		        <!-- Brand and toggle get grouped for better mobile display -->
		    	<div class="navbar-header">
			    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				    	<span class="sr-only">Toggle navigation</span>
				    	<span class="glyphicon glyphicon-menu-hamburger"></span>
			    	</button>
			    	<a class="navbar-brand" href="{% url 'homepage' %}"><i class="fa fa-home" aria-hidden="true"></i></a>
		    	</div>

		    	<!-- Collect the nav links, forms, and other content for toggling -->
		    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    	    <ul class="nav navbar-nav">
		    	    	<li {% if tab_active == 1 %} class="dropdown active" {% else %} class="dropdown" {% endif %}>
		    	    		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		    	    		    Kategori Kaos <span class="caret"></span>
	    	    		    </a>
		    	    		<ul class="dropdown-menu">
		    	    			{% for category in list_category %}
		    	    			<li><a href="{% url 'categorypage' category.id category.display_url %}">{{ forloop.counter }}. {{ category.name }}</a></li>
		    	    			{% endfor %}
		    	    		</ul>
		    	    	</li>
		    	    	<li {% if tab_active == 2 %} class="active" {% endif %}><a href="{% url 'about_shirt' %}">Tentang Kaos</a></li>
		    	    </ul>
		    	</div>
		    </div>
		</nav>
	</div>
	{% block main_content %}
	<main id="main">
		<div class="container" style="margin-top:50px;">
			{% if emptyContent %}
			<div class="jumbotron">
				<h1>TIDAK ADA KONTEN YANG TERSEDIA</h1>
			</div>
			{% else %}
		    <div class="row">
		    	<div class="col-xs-12">
		    		<div class="page-header page-header-custom">
		    			<h3>{{ new_shirt_text }}</h3>
		    		</div>
		    	</div>
		    </div>
		    <div class="row">
		    	{% for src in list_img_src_new %}
		        <div class="col-xs-4 col-md-3">
		            <a href="" class="thumbnail" data-toggle="modal" data-target="#imgModal" data-url="{{ src.url_img_big }}" data-title="{{ new_shirt_text }}">
		                <img src="{{ src.url_img }}" class="img-responsive" />
		            </a>
		        </div>
		        {% endfor %}
		    </div>

		    <div class="row">
		    	<div class="col-xs-12">
		    		<div class="page-header page-header-custom">
		    			<h3>{{ best_selling_text }}</h3>
		    		</div>
		    	</div>
		    </div>

		    <div class="row">
		    	{% for src in list_img_src_best %}
		        <div class="col-xs-4 col-md-3">
		            <a href="" class="thumbnail" data-toggle="modal" data-target="#imgModal" data-url="{{ src.url_img_big }}" data-title="{{ best_selling_text }}">
		                <img src="{{ src.url_img }}" class="img-responsive" />
		            </a>
		        </div>
		        {% endfor %}
		    </div>
		    {% endif %}
		</div>
	</main>
	{% endblock %}

	<footer id="myFooter">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="row">
						<div class="col-xs-12">
							<h3>Hubungi Kami</h3>
						</div>
						<div class="col-xs-12">
							<ul class="list-contact-us">
								<li>
								    <p><i class="fa fa-phone"></i> +62 878 9507 8757</p>
								</li>
								<li>
								    <p><i class="fa fa-whatsapp"></i> +62 878 9507 8757</p>
								</li>
								<li>
								    <p><i class="bbm-icon"></i> D86D7CB8</p>
							    </li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="row">
						<div class="col-xs-12">
							<h3>Follow Kami</h3>
						</div>
						<div class="col-xs-12">
							<ul class="list-follow-us">
								<li>
								    <p><i class="fa fa-instagram"></i> <a href="https://www.instagram.com/nyamanchop/" target="_blank">NyamanChop</a></p>
							    </li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="row">
					    <div class="col-xs-12">
							<h3>Pembayaran</h3>
						</div>
						<div class="col-xs-12">
							<div class="row" style="margin-bottom:10px;">
								<div class="col-xs-5">
						            <img src="{% static 'img/bca-img.png' %}">
						        </div>
						        <div class="col-xs-7">
							        <ul class="list-payment">
								        <li><p>1630443659</p></li>
								        <li><p>Felix Cahaya</p></li>
							        </ul>
						        </div>
							</div>
							<div class="row">
								<div class="col-xs-5">
						            <img src="{% static 'img/mandiri-img.png' %}">
						        </div>
						        <div class="col-xs-7">
							        <ul class="list-payment">
								        <li><p>900-00-4119128</p></li>
								        <li><p>Felix Cahaya</p></li>
							        </ul>
						        </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                <h4 class="modal-title" id="myModalLabel">NyamanChop</h4>
	            </div>
	            <div class="modal-body">
	                <img id="big-img" class="center-block img-responsive" src="" />
	            </div>
            </div>
        </div>
	</div>

	<button id="btn-back-top" class="btn btn-primary" onclick="backToTop()"><i class="fa fa-angle-double-up"></i></button>

    <script type="text/javascript" src="{% static 'js/jquery-3.2.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/myscript.js' %}?v={{ jsversion }}"></script>
</body>
</html>