{% extends 'index.html' %}

{% block title %} Category {% endblock %}

{% block main_content %}
<main>
	<div class="container" style="margin-top:50px;">
		{% if emptyContent %}
		<div class="jumbotron">
			<h1>TIDAK ADA KONTEN YANG TERSEDIA</h1>
		</div>
		{% else %}
		{% for obj_per_category in dataPerCategory %}
	    <div class="row">
	    	<div class="col-xs-12">
	    		<div class="page-header page-header-custom">
	    			<h3>{{ obj_per_category.title_category }}</h3>
	    		</div>
	    	</div>
	    </div>
	    <div class="row">
	    	{% for src in obj_per_category.list_img_src %}
	        <div class="col-xs-6 col-sm-4 col-md-3">
	            <a href="" class="thumbnail" data-toggle="modal" data-target="#imgModal" data-url="{{ src.url_img_big }}" data-title="{{ obj_per_category.title_category }}">
	                <img src="{{ src.url_img }}" class="img-responsive" />
	            </a>
	        </div>
	        {% endfor %}
	    </div>
	    {% endfor %}
	    {% endif %}
	</div>
</main>
{% endblock %}